body{
	background-color: #000000;
	margin: 0;
	align-content: center;
	/*Font Items to Inherit*/
	font-family: sans-serif;
	font-weight: 200;
	color: #000000
}
.app{
	height: 100%;
	margin: auto 0;
	display: flex;
	flex-direction: column;
	align-self: center;
}
.life{
	height: 40%;
	width: 90%;
	align-self: center;
	display: flex;
	flex-direction: column;
	margin: 2.5%;
	border-radius: 25px;
}
.player{
	margin: auto;
	display: flex;
	flex-direction: column;
}
#life1{
	background-color: #5ac192;
}
#life2{
	background-color: #8a3ba7;
}
.lp{
	align-self: center;
	font-size: 25vh;
}
img{
	width: 5vw;
	height: 5vw;
	align-self: center;
}
.bar{
	height: 5%;
}

@media screen and (orientation:portrait){
	.app{
		flex-direction: column;
	}
	.life{
		width: 90%;
		height: 47.5%;
	}
	#life1{
		transform: rotate(180deg);
	}
	.lp{
		font-size: 25vh;
	}
	.bar{
		height: 5%;
		width: 0%;
	}
}
@media screen and (orientation:landscape){
	.app{
		flex-direction: row;
	}
	.life{
		width: 47.5%;
		height: 90%;
	}
	#life1{
		transform: rotate(0deg);
	}
	.lp{
		font-size: 25vw;
	}.bar{
		height: 0%;
		width: 5%;
	}
}
