body{
	margin: 0px;
	background-color: hsl(228, 10%, 40%); /*hsl(228, 39%, 41%)*/
	align-content: center;
	/*Font Items to Inherit*/
	font-family: sans-serif;
	font-weight: 200;
	color: #FFFFFF; /*hsl(0,0%,100%)*/
}
.timer{
	background-color: hsl(225, 10%, 30%); /*hsl(225, 40%, 31%)*/
	height: 10%;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	text-align: center;
	align-content: center;
	font-size: 4.5vw;
	font-weight: 900;
}
#timer{
	align-self: center;
}
.players{
	display: flex;
	justify-content: center;
	width: 100%;
}
.player{
	display: inline-block;
	margin: 0px 20px;
	height: 85%;
	width: 45%;
	background-color: hsl(215, 43%, 61%); /*hsl(215, 43%, 61%)*/
	text-align: center;
	align-content: center;
	overflow-y: hidden;
}
.info{
	background-color: hsl(219, 33%, 49%); /*hsl(219, 33%, 49%)*/
	padding: 20px 0px;
}
#name{
	font-weight: 300;
	font-size: 250%;
	font-size: 5vw;
}
#record{
	font-size: 2vw;
	color: #DDEEFF; /*hsl(210, 100%, 93%)*/
}
#lifetotal{
	font-size: 1000%;
	font-size: 25vw;
	font-weight: bold;
	font: "";
	color: #FFFFFF;
}
.mwinIndicator{
	background-color: inherit;
	display: inline-block;
	border: 0.5vw solid #FFFFFF;
	width: 5vw; height: 5vw;
	border-radius: 5vw;
	margin: 5px;
}
.mwinIndicatorF{
	background-color: #FFFFFF;
	display: inline-block;
	border: 0.5vw solid #FFFFFF;
	width: 5vw; height: 5vw;
	border-radius: 5vw;
	margin: 5px;
}
.status{
	height: 5%;
	display: flex;
	justify-content: center;
	background-color: hsl(0, 0%, 30%); /*hsl(225, 40%, 31%)*/
	text-align: center;
	font-size: 2vw;
}
#status{
	align-self: center;
}
